.ChangingWords {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 0px 0px 0px 100px;
    /*background: linear-gradient(270deg, #113706 0%, rgba(52, 109, 30, 0.89) 100%);   */
}

.ChangingWords >h3 {
    display: inline;
    font-size: 24px;
    margin: 0px;
    width: 250px;
    /* color: white; */
}

.words {
    /* color: white; */
    display: block;
    height: 100%;
    animation: spin_words 10s infinite;
    padding-left: 8px;
    font-size: 24px;
    width: 900px;
    margin-bottom: 40px;
    
}
.wrapper {
    height: 32px;
    margin: 18px 0px;
    overflow-y: hidden;
}
.words-mobile {
    display: none;
}


@media (max-width:598.98px) {
    .ChangingWords{
        margin: 0px 0px;
        height: auto;
        padding: 20px 20px;
        background-color: black;
    }
    .ChangingWords >h3 {
        display: none;

    }
    .wrapper {
        display: none;
    }
    .words-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

     .words-mobile > p {
        font-size: 18px;
        color: white;
        font-weight: bold;
     }
      #text-title-mobile{
        color: var(--GreenColor);
     }
}

@keyframes spin_words {
    0%{
        transform: translateY(0%);
        opacity: 1;}
    20%{
        transform: translateY(-230%)
        }
    
    33% {
        transform: translateY(-220%);
        opacity: 1;
    }
    53% {
        transform: translateY(-460%)
    }
  
    66% {
        transform: translateY(-450%);
        opacity: 1;
    }
    89%{
        transform: translateY(10%)
    }
    

    
    
}